body {
    text-align: center;
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    color: #000;
    text-shadow: 
             -1px -1px 0px rgb(255, 16, 16), 
             -1px 1px 0px rgb(236, 236, 236),                    
              1px -1px 0px rgb(84, 22, 255),                  
              1px 0px 0px rgb(225, 250, 1);
}

h2{
    color: rgb(7, 18, 66);
}