*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipeAnimado 1.5s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: puloMario 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds 15s infinite linear;
    top: 0;
}

@keyframes pipeAnimado {
    from {
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes puloMario {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 200px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

#refresh{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(107, 5, 5);
    box-shadow: 0px 0px 8px 3px #476875;
    border: 0;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: #8d998f;
    padding: 15px;
}

.button{
    width: 100%;
    height: 255px;
    display: flex;
    justify-content: center;
    background-color:#412822;
    padding-top: 70px;
    
}
