body{
    background-color: rgb(134, 42, 62);
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#result{
    margin-top: 22px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: yellow;
}

input {
    padding-left: 10px;
    width: 300px;
    height: 43px;
    border-radius: 10px;
    box-shadow: 2px 2px 21px blue;
}

#area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
    margin-top: 90px;
    margin-left: 44%;
    width: 200px;
    height: 200px;
    border-radius: 80px;
    border: 2px solid black;
}

#area:hover{
    cursor: pointer;
    border-radius: 100px;
}

